@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        scroll-behavior: smooth;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    body {
        @apply bg-white text-slate-900 font-sans selection:bg-brand-200 selection:text-brand-950;
        overflow-x: hidden;
    }
}
